html
    head
        title='Productos Cargados'
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
    body
        div(class="container mt-3")
            div(class="jumbotron")
                block historial
